* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Whole-article styles */

.shop-item {
  margin: 50px auto;
  width: 900px;
  font-family: sans-serif;
  border: 3px solid #000;
}

/* styling the header */

.item-title {
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
  background-color: #f7f7f7;
  font-weight: 700;
  position: relative;
}

.item-title::after {
  content: "SALE";
  color: #fff;
  background-color: #ff1e00;
  padding: 5px 15px;
  letter-spacing: 5px;
  position: absolute;
  top: -20px;
  left: -20px;
}

/* Styling product details */

.product-img {
  width: 250px;
  float: left;
}

.price {
  font-size: 24px;
  letter-spacing: 2px;
  float: left;
}

.shipping {
  color: #777;
  font-size: 12px;
  float: right;
  padding-top: 5px;
}

.price-shipping,
h3 {
  padding: 10px 0;
  font-weight: bold;
  text-transform: uppercase;
}

.detail-blurb {
  margin: 30px 0;
}

.details li {
  list-style: square;
  line-height: 1.5;
  margin-left: 15px;
  margin-bottom: 10px;
}

/* Buttons and links */

.details-link:link,
.details-link:visited {
  display: inline-block;
  color: #000;
  text-decoration: underline;
  margin-bottom: 10px;
}

.details-link:hover,
.details-link:active {
  text-decoration: none;
  margin-bottom: 10px;
}

.add-to-cart {
  border: 0;
  background-color: #000;
  color: #ffffff;
  border-top: 3px solid #000;
  text-transform: uppercase;
  font-size: 24px;
  width: 100%;
  padding: 20px 20px;
}

.add-to-cart:hover {
  color: #000;
  background-color: #ffffff;
  cursor: pointer;
}

.add-to-cart:active {
  background-color: #e2e2e2;
}

/* color options */

.color-option {
  display: inline-block;
  margin-top: 20px;
  margin-right: 15px;
  border: 1px solid #000;
  padding: 10px;
}

.color-option {
  display: inline-block;
  margin-top: 20px;
  margin-right: 15px;
  border: 2px solid #333;
  padding: 10px;
  cursor: pointer;
}

.color-option:hover {
  border: 2px solid rgb(197, 197, 197);
}

.color-option:active {
  opacity: 0.75;
}

.color-option:first-child {
  background-color: #000;
}

.color-option:nth-child(2) {
  background-color: #0077ff;
}

.color-option:nth-child(3) {
  background-color: #ff49d1;
}

.color-option:nth-child(4) {
  background-color: #f0ff1e;
}

.color-option:nth-child(5) {
  background-color: #00ca54;
}

.color-option:last-child {
  background-color: #66432c;
  margin-right: 0;
}

/* FLOAT LAYOUT */

.column {
  width: 300px;
  padding: 15px 25px;
}

.c-one {
  float: left;
}

.c-two {
  float: right;
}
